<div class="container">
  <h1>Add a project</h1>
  <form method="post" action="/projects">
    <input type="text" name="project[name]" placeholder="Enter a name">
    <input type="text" name="project[description]" placeholder="Enter a description">
    <input type="text" name="project[photo_url]" placeholder="Enter a photo_url">
    <input type="text" name="project[link]" placeholder="Enter a link">
    <select name="user[id]"> 
      <% users.forEach(function(value){ %>
      <option value="<%= value.id %>"><%= value.name %></option>
      <% }) %>

    </select>

    <button class="btn">Create</button>
  </form>
</div>
