<div class="container">
  <h1>Add a User</h1>
  <form method="post" action="/users">
    <input type="text" name="user[name]" placeholder="Enter a name">
    <input type="text" name="user[photo_url]" placeholder="Enter a url">
    <input type="text" name="user[tag_line]" placeholder="Enter a line">
    <button class="btn">Create</button>
  </form>
</div>
